<h1>Ask the coach someting</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="ask me something?">
  <input type="submit" id="btn" value="Go on!">
</form>

